.Template {
  margin: auto;
  width: 450px;
  height: auto;
  background-color: #eeeff1;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
}
.app-title {
  background: #b1b2ff;
  margin-bottom: 1rem;
  border-radius: 16px;
  color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
